.ReactModal__Content {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.ReactModal__Content--after-open {
    opacity: 1;
    transform: translateY(0);
}

.ReactModal__Content--before-close {
    opacity: 0;
    transform: translateY(-20px);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}
